# my
ignore/
TODO

# large files
data/large/
scripts/data/large/
mtg-scryfall/data/json/*.json

# Haskell
ghcid.txt
dist-newstyle/
dist/
.stack-work/
cabal.project.local
.ghc.environment.*
*.o
*.hi
*.chi
*.chs.h
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html

# Emacs
\#*
*~
\.#*
\#*\#
*.log
TAGS
.projectile

# Nix
result/
result-*/

# Nano
*.swp 

# OSX
.DS_Store

